<h1><%= @dish.name %></h1>

<section class="ingredients">
  <% @dish.ingredients.each do |ingredient| %>
    <p><%= ingredient.name %></p>
  <% end %>
</section>

<h2><%= @dish.chef.name %></h2>

<h2>Total Calories: <%= @dish.total_calories %></h2>
